@font-face {
    font-family: SF Pro Display;
    src: url("../fonts/SF-Pro-Display-Medium.otf");
}
@font-face {
    font-family: SF Pro Display;
    src: url("../fonts/SF-Pro-Display-Semibold.otf");
    font-weight: bold;
}
@font-face {
    font-family: SF Pro Display;
    src: url("../fonts/SF-Pro-Display-Bold.otf");
    font-weight: bolder;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SF Pro Display';
    background-image: url("../images/background.png");
}

.header {
    padding: 25px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1800px;
}

.logo {
    display: flex;
    align-items: center;
    vertical-align: bottom;
}

.container {
    max-width: 1800px;
    margin: auto auto;
}

.logo-text {
    font-size: 32px;
    margin-bottom: 2px;
}

.registration {
    font-weight: bolder;
    font-size: 32px;
    text-decoration: none;
}

.registration a {
    text-decoration: none;
    color: #000000;
}

.main-title {
    font-size: 48px;
    line-height: 57px;
}

.main-text {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    margin-top: 15px;
}

.main-info {
    padding: 335px 0;
    max-width: 800px;
}